[licenses]
allow = [
  "MIT",
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "Unicode-3.0",
  "ISC",
  "Unlicense",
  "MPL-2.0",
  "Zlib",
  "CC0-1.0",
  "MIT-0",
]


[bans]
skip-tree = ["bevy", "bevy_matchbox"]

[advisories]
ignore = ["RUSTSEC-2024-0436"]
